*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #1A1B21;
  color: white;
  font-family: "Inter", sans-serif;
}

.avatar{
  overflow: hidden;
  width: 100%;
}
.container{
  margin: 0 2.25em;
}
.personal-photo{
  background-image: url("./assets/personal-photo.png");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
}

.header{
  text-align: center;
}

.name{
  font-size: 1.5625rem;
}

.profession{
  color: #F3BF99;
  font-weight: 400;
  font-size: 1.25rem;
}

.website{
  font-size: 0.75rem;
}

.link{
  display: flex;
  justify-content: space-around;
}

.email, .linkedin{
  width: 20%;
  text-decoration: none;
  border-radius: 6px;
  padding: 1em 0.5em;
}

.email{
  background-color: white;
  color: #374151;
  
}

.linkedin{
  background-color: #5093E2;
  color: white;
}

.email-icon, .linkedin-icon{
  margin-right: 0.5em;
  height: 1.75vh;
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.paragraph{
  color: #DCDCDC;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  margin: 0;
}

footer{
  margin-top: 2em;
  background-color: #161619;
  display: flex;
  justify-content: center;
  padding: 1em 0.5em;
  gap: 1.75em;
}

footer img{
  width: 5vh;
}

a{
  cursor: pointer;
}